footer {
    @include box-sizing(border-box);
    @include clearfix;
    text-align: left;
    font-size: 0.813em;
    padding: 0;
    background: $fatfooterBgColor;
    .container {
        @include gutter;
        // >div {
        //     padding-bottom: 1em;
        // }
    }
    .accesskey{
        color:$fatfooterBgColor;
    }
    a {
        text-decoration: none;
        color: #fff;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    .footer_logo {
        @include make-xs-column(8);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
    }
    .footer_info {
        border-color: #fff;
        border-style: solid;
        border-width: 1px 0 1px 0;
        padding: .5em 0;
        margin:2em 0;
        opacity:.9;
    }
    .footer_icon {
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
    }
    .footer_bottom{
        background: $color-dark;
        .update{
            float: right;
            li{
                float: left;
                color: #eee;
                padding:.5em 1em;
            }
            @include screen('mobile') {
                float: none;
                padding-left: 0;
                margin: 0;
            }
        }
    }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        margin:1em auto;
        float: left;
        @include screen('mobile') {
            margin: .5em 0;
        }
        li {
            float: left;
            display: block;
            margin: 0px 10px 0 10px;
            @include screen('mobile') {
                margin-left: 0;
            }
            a {
                display: block;
                padding: .5em 1em;
                background: none;
                color: #eee;
                border-radius:4px;
                @include transition(all, .3s, ease-out);
                &:hover,
                &:focus {
                    color:#fff;
                }
            }
        }

    }
    p {
        line-height: 1.65em;
        color:#fff;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: #fff;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
            position:relative;
             &:focus {
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 0px 1px $aHover inset;
                    z-index: 99;
                }
            }
        }
        img {
            max-width: 120px;
        }
    }

}