/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// 範例：
section {
    [class*="bg"] {
        //border: 2px solid #FFF;
        //background: #DEDEDE;
        padding-bottom: 1em;
    }
}
.bg{
    background: #faf7ef;
}
.mp{
    background-position: center bottom 100px;
    >section{
        padding: 1em 0 0 0;
        @include screen('mobile'){
            padding: 0 0 1em 0;
            .col{
                padding-top: 1em;
            }
        }
        &.ad{
            padding: 3em 0 3.5em 0;
            background: #fff;
            margin-bottom: -1em;
            @include screen('mobile'){
                padding:1em;
                margin-bottom: 0;
            }
        }
    }
    .main_image{
        padding:0;
        &.has_bg{
            height: 400px;
            background: url(../images/top_bg.jpg) no-repeat center;
            background-size: cover;
            margin-bottom: 150px;
            padding-top:150px;
            position: relative;
            @include screen('tablet'){
                height:350px;
                margin-bottom: 120px;
                padding-top:120px;
            }
            @include screen('mobile') {
                height: 320px;
                margin-bottom: 90px;
                padding-top:90px;
            }
            @include screen('xs_mobile') {
                height: 280px;
                margin-bottom: 60px;
                padding-top:60px;
            }
            .mpSlider{
                position: absolute;
                bottom:-150px;
                left: 0;
                @media screen and (max-width: 1100px) {
                width: calc(100% - 30px);
                left: 15px;
                }
                @include screen('tablet'){
                    bottom:-120px;
                }
                @include screen('mobile') {
                    bottom:-90px;
                }
                @include screen('xs_mobile') {
                    bottom:-60px;
                }
            }
        }
        .container{
            height: 100%;
        }
        // @media screen and (max-width: 1199px) {
        //       padding:0 15px;
        // }
        // @include screen('notebook') {
        //     height: 400px;
        //     margin-bottom: 150px;
        //     padding-top:150px;
        // }
        // @include screen('tablet') {
        //     height: 350px;
        //     margin-bottom: 100px;
        //     padding-top:100px;
        // }

        // @include screen('xs_mobile') {
        //     height: 250px;
        //     margin-bottom: 80px;
        //     padding-top:80px;
        // }

        .mpSlider{
            width: 100%;
            margin:0 auto;
            .img-container{
                border:.5em solid #fff;
            }
            &:after{
                content:"";
                position: absolute;
                top:0;
                left:0;
                z-index: -1;
                width: 100%;
                height:85%;
                background:linear-gradient(top,rgba(#000, 0), rgba(#000,.5), rgba(#000, 0));
                //box-shadow:0 0 10px 1px rgba(#000, .3);
                filter: blur(5px);
            }
        }
    }
}

// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}
.reader_area{
    min-height: 68px;
    background: $lightColor;
    color:#color-word;
    padding: .8em 1.6em;
    overflow: hidden;
    margin-top: .5em;
    font-size: .938em;
     @include screen('mobile') {
            padding: 1.2em 1.6em;
    }
    input[type="text"], input[type="password"]{
        background:#fff;
        border: 2px solid #CCC;
    }
    .reader{
        display: inline-block;
        vertical-align: middle;
        margin:.7em 0;
        position: relative;
        @include screen('mobile') {
            margin: .5em 0;
        }
        &:after{
            content: "";
            display: inline-block;
            width: 8px;
            height: 10px;
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            margin-left: 1em;
            @include screen('mobile') {
                transform: rotate(90deg);
            }
        }
        .reader_name{
            font-weight: bold;
            font-size: 1.125em;
        }
    }
    ul{
        padding: 0;
        margin:0;
        display: inline-block;
        vertical-align: middle;
        @include screen('mobile') {
            margin: .5em 0;
        }
        li{
            position: relative;
            float: left;
            margin:.7em 10px;
            padding-left: 25px;
            list-style: none;
            &:before{
                content: "";
                position: absolute;
                width: 20px;
                height: 22px;
                left:0;
                filter:invert(40%);
                opacity:.85;
            }
            &.reader_borrow{
                &:before{
                    background: url(../images/icon/icon_book.svg) no-repeat 0 2px;
                    background-size: contain;
                }
            }
            &.reader_overdue{
                &:before{
                    background: url(../images/icon/icon_notice.svg) no-repeat 0 2px;
                    background-size: contain;
                }
                span{
                    background: $secondaryColor;
                }
            }
            &.reader_violation{
                &:before{
                    background: url(../images/icon/icon_violation.svg) no-repeat 0 2px;
                    background-size: contain;
                }
                span{
                    background: $secondaryColor;
                }
            }
            &.reader_booked{
                &:before{
                    background: url(../images/icon/icon_booked.svg) no-repeat 0 2px;
                    background-size: contain;
                }
            }
            &.reader_arrival{
                &:before{
                    background: url(../images/icon/icon_precautions.svg) no-repeat 0 2px;
                    background-size: contain;
                }
                span{
                    background: $secondaryColor;
                }
            }
            span{
                margin:0 .312em;
                min-width: 18px;
                height: 18px;
                border-radius: .31em;
                display: inline-block;
                text-align: center;
                font-family: Georgia;
                font-weight: bold;
                line-height: 1;
            }
        }
    }
    .form_inline{
        input,label{
            margin:0 5px 0 0;
        }
        .form_grp{
            margin-top: 3px;
        }
        .form_grp, .check_grp{
            @include screen('mobile') {
                padding-bottom:.5em;
            }
        }
        .btn_grp{
            float: right;
            padding:0;
            margin: .5em 0 0 0;
            @include screen('mobile') {
                float: none;
                display: block;
            }
            button{
                position: relative;
                height: 36px;
                box-sizing: border-box;
                color: #fff;
                margin-left: .5em;
                text-shadow: none;
                padding: 0 1em;
                transition: all .3s;
                &:hover{
                    box-shadow: none;
                }
            }
            .my_study{
                padding-left: 2.65em;
                background:$primaryColor url(../images/icon/icon_card.png) no-repeat left 1em center;
                background-size: 20px;
                &:hover{
                    background-color: darken($primaryColor, 10);
                }
                &:focus{
                    box-shadow: 0 0px 0px 2px $secondaryColor inset;
                }

            }
            .logout{
                background: $secondaryColor;
                color: $color-word;
                &:hover{
                    background-color: darken($secondaryColor, 10);
                    box-shadow: 0 0px 0px 2px darken($secondaryColor, 10) inset;
                }
            }
        }
    }
}

.news, .recent_activities{
    position: relative;
}

.select_library{
    position: absolute;
    right: 15px;
    top: 1.5em;
    @include screen('mobile') {
        position: static;
    }
}
//最新消息
.news{
    .tabContent{
        font-size: .938em;
        .township_tag{
            display: inline-block;
            background: $secondaryColor;
            color:$color-word;
            padding: 0.7em;
            line-height: .5em;
            border-radius:.31em;
        }
        time{
            font-size: .875em;
        }
    }
    .tabSet{
        margin-bottom: 0;
    }
}

//讀者服務
.reader_service{
    &:before{
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: #ccc;
    }
    ul{
        list-style: none;
    }
    li{
        margin:.5em;
        padding: .9em;
        @include screen('mobile') {
            display:inline-block;
            width: 45%;
        }
         @include screen('xs_mobile') {
            width: 100%;
        }

        a{
            position: relative;
            padding-left: 60px;
            display: inline-block;
            color: $color-word;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top:50%;
                margin-top: -25px;
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                -moz-transform:scaleX(1);
                -webkit-transform:scaleX(1);
                transform:scaleX(1);
                transition: transform .2s ease-out;
            }
            &:hover{
                &:before{
                    -moz-transform:scaleX(-1);
                    -webkit-transform:scaleX(-1);
                    transform:scaleX(-1);
                    background-color: $secondaryColor;
                }
            }
        }
    }
    .service_search{
        a{
            &:before{
                background: $importantColor url(../images/icon_search.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
    .service_rule{
        a{
            &:before{
                background: $importantColor url(../images/icon_rule.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
    .service_library_card{
        a{
            &:before{
                background: $importantColor url(../images/icon_library_card.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
    .service_app{
        a{
            &:before{
                background: $importantColor url(../images/icon_app.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
    .service_qa{
        a{
            &:before{
                background: $importantColor url(../images/icon_qa.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
    .service_seat{
        a{
            &:before{
                background: $importantColor url(../images/icon_seat.png) no-repeat center;
                background-size: 50%;
            }
        }
    }
}
//近期活動
.recent_activities{

}
.activities_content{
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        overflow: hidden;
        padding: .6em 0;
        border-bottom: 1px solid #fff;
    }
    .activity_date{
        float: left;
        font-weight: bold;
        font-family: Georgia;
        color: $color-word;
        background: $secondaryColor;
        padding:.5em 1em;
        position: relative;
        height: 80px;
        width: 115px;
        border-radius:.31em 0 0 .31em;
        @include screen('mobile') {
            border-radius:.31em;
        }
        &:after{
            content: "";
            position: absolute;
            top:0;
            right: -20px;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 40px 0 40px 20px;
            border-color: transparent transparent transparent $secondaryColor;
            @include screen('mobile') {
                display: none;
            }
        }
        .year{
            display: block;
            font-size: 1.25em;
        }
        .day{
            display: inline-block;
            font-size:1.875em;
            margin-top: .25em;
        }
    }
    .activity_info{
        margin-left: 150px;
        @include screen('mobile') {
            margin-left: 125px;
        }
        a, time{
            display: block;
        }
        .activity_title{
            color: $color-word;
            font-weight: bold;
            font-size: 1.125em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: all .2s;
            &:hover{
                color: darken($primaryColor, 10);
            }
        }
        time{
            color: lighten($color-word, 10);
            padding:.4em 0;
            font-size: .938em;
            &:before{
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(../images/icon_activity_time.png) no-repeat center;
                background-size: contain;
                filter: invert(.5);
                margin:-1px 5px 0 0;
                vertical-align: middle;
            }
        }
        .activity_location{
            color: darken($primaryColor, 10);
            font-size: .938em;
            &:before{
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(../images/icon_activity_location.png) no-repeat center;
                background-size: contain;
                filter: invert(.5);
                margin:-1px 5px 0 0;
                vertical-align: middle;
            }
            &:hover{
                color: darken($primaryColor, 15);
            }
        }
    }

}
//即時資訊
.instant_info{
    @include screen('mobile'){
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        list-style: none;
        @include screen('tablet') {
            padding-left: 0;
            margin:0;
        }
    }
    li{
        padding:.55em 110px .55em 0;
        position: relative;
        @include screen('tablet') {
            padding-right: 80px;
        }
        &:after{
            content:"";
            position: absolute;
            right:0;
            top:50%;
            margin-top: -40px;
            display:inline-block;
            width: 80px;
            height:80px;
            @include screen('tablet') {
                width: 60px;
                height:60px;
                margin-top: -30px;
            }
        }
        .amount{
            font-size:2.5em;
            color:$primaryColor;
            font-family: 'Century Gothic';
            font-weight: bold;
            font-style:italic;
            display:block;
            text-align: right;
            padding:.3em 0;
            letter-spacing: -1px;
        }
        .unit{
            color:$primaryColor;
            display:inline-block;
            padding: 0 .5em;

        }
        .text{
            display:block;
            text-align: right;
        }
        &.readers_card{
            &:after{
                content:"";
                border-radius: 50%;
                background:darken($primaryColor, 10) url(../images/icon_instant_info_people.png) no-repeat center;
                background-size: 50%;
            }
        }
        &.collections{
            &:after{
                content:"";
                border-radius: 50%;
                background:$importantColor url(../images/icon_instant_info_book.png) no-repeat center;
                background-size: 50%;
            }
        }
        &.borrowing{
            &:after{
                content:"";
                border-radius: 50%;
                background:$secondaryColor url(../images/icon_instant_info_lend.png) no-repeat center;
                background-size: 50%;
            }
        }
    }

    .update{
        text-align: right;
    }
    .more{
        width: 100%;
    }
}
.fb_plugin{
    width: 100%;
    height: 350px;
    margin:0 auto;
    @include screen('mobile') {
      width: 340px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}

//新書展示
.mp{
    >.book_display{
        padding-top: 7em;
        @include screen('mobile'){
            padding-top: 2em;
        }
    }
}
.book_display{
    position: relative;
    z-index: 1;
    &:nth-child(odd){
        h2{
            &:after{
                transform: rotate(45deg);
                right: calc(50% - 260px);
            }
        }
    }
    &:nth-child(even){
        &:after{
            content:"";
            position: absolute;
            top:7em;
            left:0;
            width: 100%;
            height:540px;
            background:darken($lightColor, .5);
            transform-origin:center;
            transform:skewY(10deg);
            z-index: -1;
            @include screen('tablet'){
                height: 380px;

            }
            @include screen('tablet'){
                height: 420px;

            }
        }
    }

    h2{
        text-align: center;
        position: relative;
        padding-top: 1em;
        &:after{
            content:"";
            position: absolute;
            width: 180px;
            height: 2px;
            transform: rotate(-45deg);
            left: calc(50% - 140px);
            bottom:2em;
        }
    }
    .tabContent{
        padding:30px 10px;
        height: 364px;
        width: 100%;
        overflow: hidden;
    }
    .book_wrap{
        a{
            display:block;
            &:focus{
                outline:none;
                box-shadow: 0px 0px 0px 1px $primaryColor inset;
            }
        }
    }
    .book_name{
        color: $color-word;
        font-size: .938em;
        margin: 1em auto;
        text-align: center;
        max-width: 175px;
        @include screen('xs_mobile') {
            max-width: 130px;
        }
    }
}

.calendar_wrap{
    .closed, .activity_day{
        display: inline-block;
        font-size: .938em;
        padding: 1em;
        &:before{
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
    .closed{
        &:before{
            background: $color-gray;
        }
    }
    .activity_day{
        &:before{
            background: $primaryColor;
        }
    }
}

.pignose-calendar{
    width: 100%;
    border:1px solid #eee;
    box-shadow: none;
    .pignose-calendar-top{
        padding:1.5em 0;
        box-shadow: none;
        .pignose-calendar-top-date{
            padding:.8em 0;
        }
    }
    .pignose-calendar-header{
        margin-top: 1em;
        padding:0 1em;
        .pignose-calendar-week{
            &.pignose-calendar-week-sat, &.pignose-calendar-week-sun{
                color:$primaryColor;
            }
        }
    }
    .pignose-calendar-body{
        padding: 1em;
    }
    .pignose-calendar-unit{
        height: 3em;
        line-height: 1.5em;
        position: relative;
        z-index: 50;
        a{
            position: relative;
            z-index: 40;
            color:#555;
        }
        &.pignose-calendar-unit-active{
            a{
                background: $secondaryColor;
                color:$color-word;
            }
        }
        &.pignose-calendar-unit-sat, &.pignose-calendar-unit-sun{
            a{
                color:#555;
            }
        }
        &.pignose-calendar-unit-disabled{
            a{
                opacity:1;
            }
        }
        .pignose-calendar-button-schedule-container {
            .pignose-calendar-button-schedule-pin{
                width: 2.4em;
                height: 2.4em;
                position: absolute;
                left: 5%;
                top:0;
                border:1px solid $primaryColor;
            }
        }
    }
}

//各館資訊
.library_select{
    .pc_select{
        text-align: left;
         @include screen('mobile') {
            display: none;
        }
    }
    .mobile_select{
        display: none;
        @include screen('mobile') {
            display: block;
            padding:0 15px;
        }
    }
    button, input[type="button"]{
        background: #fff;
        text-shadow: none;
        color: darken($primaryColor, 10);
        border:2px solid $primaryColor;
        //width: 11.78%;
        min-width: 6.8em;
        border-radius: 30px;
        display:inline-block;
        @include screen('tablet') {
            width: 13.45%;
        }
        &:hover, &.active{
            background: $primaryColor;
            color:#fff;
        }
    }
}
.library_info{
    padding: 0;
    h2{
        position: relative;
        padding-top:1em;
        @include screen('mobile'){
            padding-top: 3em;
        }
        &:after{
            content:"";
            position: absolute;
            width: 180px;
            height: 2px;
            transform: rotate(-45deg);
            left: calc(50% - 140px);
            bottom:2em;
        }
    }
    .info_content{
        padding: 2em 0;
        overflow: hidden;
        @include screen('mobile'){
            padding:0;
        }
        .library_name{
            font-size:1.125em;
            color:darken($primaryColor, 10);
            margin-top:0;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            @include make-xs-column(12);  //576px  width:100%
            @include make-sm-column(12);  //768px  width:100%
            @include make-md-column(6);  //992px  width:100%
            @include make-lg-column(6);  //1400px width:100%
        }
        li{
            padding:.6em 1em .6em 2em;
            line-height: 1.6;
            position: relative;
            span{
                display: block;
                font-weight: bold;
                @include screen('tablet') {
                    display: inline-block;
                    &:after{
                        content: "-";
                        display: inline-block;
                        padding: 0 2px;
                    }
                }
            }
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                width: 25px;
                height: 25px;
                background: url(../images/icons_library_info.png) no-repeat;
                background-size: 100%;
            }
        }
        .info_address{
            &:before{
                content: "";
                background-position: center top 0;
            }
        }
        .info_email{
            &:before{
                content: "";
                background-position: 0 -25px;
            }
        }
        .info_phone{
            &:before{
                content: "";
                background-position: 0 -50px;
            }
        }
        .info_opening{
            &:before{
                content: "";
                background-position: 0 -75px;
            }
        }
        .info_closed{
            &:before{
                content: "";
                background-position: 0 -100px;
            }
        }
        .info_collection{
            &:before{
                content: "";
                background-position: 0 -125px;
            }
        }
        .info_space{
            &:before{
                content: "";
                background-position: 0 -150px;
            }
        }
        .social_media{
            a{
                display:inline-block;
                padding:.5em 0;
                margin-right: .3em;
            }
            img{
                width: 30px;
                height:30px;
                vertical-align:middle;
            }
            &:before{
                content:"";
                background-position:0 -175px;
            }
        }
    }
}
.full.map{
    width: 100%;
    height: 360px;
    @include screen('mobile'){
        height: 200px
    }
    iframe{
        width: 100%;
        height: 360px;
        @include screen('mobile'){
        height: 200px
        }
    }
}


