* {
    box-sizing: border-box;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;

    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 0 0 2em 0;
    background: #fff url(../images/bg_bottom.png) no-repeat center bottom;
    background-size: contain;

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
        background-image: none;
    }
    h2 {
        line-height: 1.25em;
        text-align: center;
        margin-bottom: 1.5em;
        &:after {
            content: "";
            height: 2px;
            width: 2em;
            background: $importantColor;
            display: block;
            margin: .4em auto;
        }
    }

    .col {
        @include gutter;
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    //padding-top: 2em;
   background: #fff url(../images/bg_bottom.png) no-repeat center bottom -300px;

    @include screen('mobile') {
        padding-top: 60px;
    }
    // .title_wrap{
    //     text-align: left;
    //     h2.title{
    //         display:inline-block;
    //         position: relative;
    //         padding-left: 1.5em;
    //         &:after{
    //             content: "";
    //             position: absolute;
    //             width: 80px;
    //             height: 2px;
    //             transform: rotate(-45deg);
    //             left: 0;
    //             bottom: 15px;
    //         }
    //     }
    // }
    h3.title{
        display:inline-block;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 60px;
            height: 2px;
            transform: rotate(45deg);
            right: -2em;
            bottom: 15px;
            background: $primaryColor;
        }
    }

    >.container {
        @include gutter(); //gutter 代表左右要留白
    }

    .main_image {
        .img-container {
            height: 250px;

            @include screen('tablet') {
                height: 220px;
            }

            @include screen('mobile') {
                height: 160px;
            }

            @include screen('xs_mobile') {
                height: 120px;
            }
        }
    }

    .function_nav {
        position: relative;

        .function {
            position: absolute;
            right: 0;
            top: -3px;

            @include screen('mobile') {
                position: static;
            }
        }
    }
}

.more {
    //position: relative;
    font-size: .938em;
    text-align: right;
    margin-top: 20px;
    &:hover {
        &:after {
            animation: more_gogo .8s infinite;
        }
    }

    a {
        color: $primaryColor;
        vertical-align:middle;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: .15em;
        border-width:1px 1px 0 0;
        border-color: $primaryColor;
        border-style:solid;
        transform: rotate(45deg);
        vertical-align:middle;
    }
}

@keyframes more_gogo {
    0% {
        transform: translateX(0) rotate(45deg);
    }

    50% {
        transform: translateX(3px) rotate(45deg);
    }

    100% {
        transform: translateX(0) rotate(45deg);
    }
}